@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}

.head{
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head img{
    height: 100%;
}

.inicio{
    width: 100%;
    height: calc(100vh - 75px);
    background: url("../img/fondo1.jpeg");
    background-size:cover;
    background-position: right;
    animation-name: aparecer;
    animation-duration: 3s;
}

.gestion{
    width: 150px;
    height: 50px;
    background-color: rgb(199, 59, 59);
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.gestion:hover{
    cursor: pointer;
    box-shadow: 5px 5px 15px black;
    transition: 0.5s;
}

.principal{
    width: 55%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.585);
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    width: 100%;
    height: 30%;
    opacity: 0.8;
    font-family: 'Ubuntu', sans-serif;
}

.titulo h1{
    padding: 15px;
}

.titulo2{
    font-size: 1.5em;
    width: 100%;
    height: 30%;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo2 h2{
    padding: 30px;
}

.opcion{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oferta{
    width: 75%;
    height: 100px;
    background-color: rgb(199, 59, 59);
    opacity: 1.5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    animation-name: deslizar;
    animation-duration: 5s;
}

.oferta h3{
    font-size: 2em;
}

.oferta:hover{
    cursor: pointer;
    box-shadow: 5px 5px 15px black;
    transition: 0.5s;
}


/*-----------------------------------KEYFRAMES------------------------------------------*/

@keyframes aparecer{

    from{
        opacity:0;
    }

    to{
        opacity: 1;
    }
}

@keyframes deslizar{

    from{
        opacity:0;
        margin-left: -500px;
    }

    to{
        opacity: 0.9;
        margin-left: 0px;
    }
}


/*-----------------------------------MEDIA QUERIES--------------------------------------*/

@media (max-width: 1200px) {
    .principal h1{
        font-size: 2em;
    }

    .principal h2{
        font-size: 1.5em;
    }
}

@media (max-width: 800px) {
    .principal h1{
        font-size: 1.5em;
    }
}

@media (max-width: 650px) {
    .principal{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .principal h1{
        font-size: 1.5em;
        padding: 15px;
        margin-top: 30px;
    }

    .principal h2{
        font-size: 1em;
        padding: 15px;
        margin-top: 50px;
    }

    .gestion{
        margin-right: 5px;
    }
}

@media (max-width: 650px) {

    .head{
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .head img{
        width: 90%;
    }

    .gestion{
        width: 30%;
        height: 40px;
        margin-bottom: 15px;
        font-size: 0.7em;
    }

    .opcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 350px){

    .principal h1{
        font-size: 1em;
        padding: 15px;
        margin-top: 30px;
    }
}