@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/*-----------------General---------------------*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
}

.head{
    width: 100%;
    height: 75px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head .home{
    height: 100%;
}

.imageLogo{
    height: 100%;
}

.inicio{
    width: 100%;
    height: calc(100vh - 75px);
    background: url("../img/fondo1.jpeg");
    background-size:cover;
    background-position: right;
    animation-name: aparecer;
    animation-duration: 3s;
}

.login{
    width: 150px;
    height: 50px;
    background-color: rgb(199, 59, 59);
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
}

.login:hover{
    cursor: pointer;
    box-shadow: 5px 5px 15px black;
    transition: 0.5s;
}
.admin_nav{
    width: 350px;
    margin-right: 30px;
    text-align: right;
}
.admin_nav div{
    margin-bottom: 0.7rem;
}

.admin_nav div a{
    text-decoration: none;
    padding: 0.4rem;
    border-radius: 0.5rem;
}
.admin_link_edit{
    color: white;
    background-color: rgb(199, 59, 59);
}
.admin_link_edit:hover{
    color: #1e272e;
    background-color: rgb(221, 81, 81);
    box-shadow: 5px 5px 10px black;
    transition: 0.5s;
}
.admin_link_new{
    color: #1e272e;
    background-color: #808e9b;
}
.admin_link_new:hover{
    color: white;
    background-color: #485460;
    box-shadow: 5px 5px 10px black;
    transition: 0.5s;
}
.admin_link_close:hover{
    box-shadow: 5px 5px 10px black;
    transition: 0.5s;
}
.admin_link_close{
    color: black;
    background-color: #fce381;
}
.admin_link_close:hover{
    background-color: #fade70;
    color: white;
    box-shadow: 5px 5px 10px black;
    transition: 0.5s;
}

.generalContainer{
    width: 100%;
    height: calc(100vh - 75px);
    background: url("../img/fondo2.jpeg");
    background-size:cover;
    background-position: right;
    animation-name: aparecer;
    animation-duration: 1.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.contactoContainer{
    width: 80%;
}

.contacto{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.contacto .botonContacto{
    width: 100px;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: rgba(199, 59, 59);
    padding: 3px 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contacto .botonContacto:hover{
    cursor: pointer;
    box-shadow: 5px 5px 15px black;
    transition: 0.5s;
}

/*-----------------home_view-------------------------*/

.principal{
    width: 55%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.585);
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5em;
    width: 100%;
    height: 30%;
    opacity: 0.8;
    font-family: 'Ubuntu', sans-serif;
}

.titulo h1{
    padding: 15px;
}

.titulo2{
    font-size: 1.5em;
    width: 100%;
    height: 30%;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo2 h2{
    padding: 30px;
}

.opcion{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ofertaCursos{
    width: 75%;
    height: 100px;
    background-color: rgb(199, 59, 59);
    opacity: 1.5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    animation-name: deslizar;
    animation-duration: 5s;
    text-decoration: none;
}

.ofertaCursos h3{
    font-size: 2em;
}

.ofertaCursos:hover{
    cursor: pointer;
    box-shadow: 5px 5px 15px black;
    transition: 0.5s;
}

/*-------------------courses_view----------------*/

.courseContainer{
    width: 85%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.courseBox{
    width: 270px;
    height: 450px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.noDecorationLink{
    text-decoration: none;
}

.courseBox:hover{
    box-shadow: 5px 5px 15px rgb(0, 0, 0);
    transition: 0.5s;
}

.courseBox .nombre{
    width: 100%;
    height: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(199, 59, 59);
    color: white;
}

.courseBox .imagen{
    width: 100%;
    height: 35%;
    background-color: #fade70;
}

.courseBox .imagen img{
    width: 100%;
    height: 100%;
}

.courseBox .datos{
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.courseBox .contacto{
    width: 100%;
    height: 13%;
    background-color: darkkhaki;
    display: flex;
}

.courseBox .llamanos{
    height: 100%;
    width: 50%;
    background-color: rgb(167, 167, 167);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.courseBox .llamanos:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: 0.5s;
}

.courseBox .inscribete{
    height: 100%;
    width: 50%;
    background-color: #ffeda6;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

.courseBox .inscribete:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    transition: 0.5s;
}

/*----------------editCourse_view------------------*/

.generalContainer h2{
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
    text-align: center;
}

.courseEditBox{
    width: 80%;
    height: 100px;
    margin-top: 30px;
    display: flex;
}

.courseEditBox .image{
    width: 13%;
}

.courseEditBox .image img{
    width: 100%;
    height: 100%;
}

.courseEditBox .name{
    width: 67%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    text-align: center;
}

.courseEditBox .delete{
    width: 10%;
    height: 100%;
    background-color: #ffeda6;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-decoration: none;
}

.courseEditBox .delete:hover{
    cursor: pointer;
    box-shadow: 5px 5px 15px black;
    transition: 0.5s;
}

.courseEditBox .edit{
    width: 10%;
    height: 100%;
    background-color: rgba(199, 59, 59);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-decoration: none;
}

.courseEditBox .edit:hover{
    cursor: pointer;
    box-shadow: 5px 5px 15px black;
    transition: 0.5s;
}

.addCourse{
    width: 80px;
    height: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 3em;
    text-decoration: none;
}

.addCourse:hover{
    cursor: pointer;
    transition: 0.5s;
    color: rgba(199, 59, 59);
    box-shadow: 5px 5px 15px black;

}

/*--------------------Formularios-----------------------*/

.formulario{
    width: 50%;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 30px;
    border: 5px solid rgba(199, 59, 59);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.celda{
    width: 100%;
    display: flex;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}

.tipoDato{
    width: 30%;
    display: flex;
    align-items: center;
}

.divDato{
    width: 60%;
}

.dato{
    width: 100%;
}

.dato input{
    width: 100%;
    height: 30px;
    text-align: left;
    border: 3px solid rgba(199, 59, 59);
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dato input:focus{
    box-shadow: 0px 0px 15px rgba(199, 59, 59);
    outline: none;
}

.dato textarea{
    max-width: 100%;
    min-width: 100%;
    border: 3px solid rgba(199, 59, 59);
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dato textarea:focus{
    box-shadow: 0px 0px 15px rgba(199, 59, 59);
    outline: none;
}

.celda .enviar{
    width: 90%;
    margin-bottom: 30px;
}

.celda .enviar input{
    padding: 10px 15px;
    width: 100%;
    background-color: #ffeda6;
    font-size: 1.1em;
    border:none;
}

.celda .enviar input:hover{
    cursor: pointer;
    background-color: rgba(199, 59, 59);
    transition: 0.5s;
    color: white;
    box-shadow: 5px 5px 15px black;
}

.cancel{
    padding: 10px 15px;
    background-color: #ffeda6;
    text-decoration: none;
    color: black;
    margin-bottom: 15px;
}

.cancel:hover{
    cursor: pointer;
    background-color: rgba(199, 59, 59);
    transition: 0.5s;
    color: white;
    box-shadow: 5px 5px 15px black;
}

.image100{
    width: 50%;
    margin: auto;
    margin-top: 35px;
}

.error{
    color: rgba(199, 59, 59);
}

/*------------------Info-Cursos------------------*/

.infoCurso{
    width: 80%;
    background-color:rgb(255, 255, 255);
    margin-top: 50px;
    margin-bottom: 30px;
}

.infoCurso .nombre{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-color: rgba(199, 59, 59);
    color: white;
    text-align: center;
}

.infoPrincipal{
    width: 100%;
    display: flex;
}

.infoCurso .imagen{
    width: 50%;
    height: 100%;
}

.infoCurso .imagen img{
    width: 100%;
}

.infoCurso .infoBasica{
    width: 40%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 30px;
}

.infoCurso .dato{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoCurso .dato .datoDer{
    width: 50%;
    color: rgba(199, 59, 59);
}

.infoCurso .dato .datoIzq{
    width: 50%;
}

.infoCurso .description{
    width: 90%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.infoCurso .description p{
    margin-top: 15px;
    margin-left: 5px;
}



.divBorrar{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.botonBorrar{
    padding: 10px 15px;
    background-color: rgba(199, 59, 59);
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}

.botonBorrar:hover{
    cursor: pointer;
    background-color: #ffeda6;
    transition: 0.5s;
    color: black;
    box-shadow: 5px 5px 15px black;
}

/*-----------------------------------KEYFRAMES------------------------------------------*/

@keyframes aparecer{

    from{
        opacity:0;
    }

    to{
        opacity: 1;
    }
}

@keyframes deslizar{

    from{
        opacity:0;
        margin-left: -500px;
    }

    to{
        opacity: 0.9;
        margin-left: 0px;
    }
}


/*-----------------------------------MEDIA QUERIES--------------------------------------*/

@media (max-width: 1200px) {
    .principal h1{
        font-size: 2em;
    }

    .principal h2{
        font-size: 1.5em;
    }
}

@media (max-width: 1000px){
    .courseEditBox .image{
        display: none;
    }

    .courseEditBox .name{
        width: 60%;
        font-size: 1em;
    }

    .courseEditBox .edit{
        width: 20%;
        font-size: 1em;
    }

    .courseEditBox .delete{
        width: 20%;
        font-size: 1em;
    }

    .courseEditBox{
        width: 95%;
    }

    .formulario{
        width: 95%;
    }

    .celda{
        flex-direction: column;
    }

    .tipoDato{
        width: 90%;
        margin-top: 10px;
    }

    .dato{
        width: 80%;
        margin-top: 10px;
        margin-left: 5px;
    }

    .error{
        margin-left: 5px;
    }

    .divDato{
        width: 100%;
    }

    .celda .enviar{
        width: 80%;
    }

    .infoPrincipal{
        flex-direction: column;
    }

    .infoCurso .imagen{
        width: 100%;
    }

    .infoCurso .infoBasica{
        width: 100%;
        margin-bottom: 50px;
    }

    .infoCurso .description{
        margin-top: 0px;
        margin-bottom: 50px;
        text-align: justify;
    }
}

@media (max-width: 800px) {
    .principal h1{
        font-size: 1.5em;
    }
}

@media (max-width: 650px) {
    .principal{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .principal h1{
        font-size: 1.5em;
        padding: 15px;
        margin-top: 30px;
    }

    .principal h2{
        font-size: 1em;
        padding: 15px;
        margin-top: 50px;
    }

    .gestion{
        margin-right: 5px;
    }

    .infoCurso .dato{
        flex-direction: column;
        align-items: flex-start;
    }

    .infoCurso .nombre{
        font-size: 1em;
    }

}

@media (max-width: 500px) {

    .head{
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .head img{
        width: 90%;
    }

    .gestion{
        width: 30%;
        height: 40px;
        margin-bottom: 15px;
        font-size: 0.7em;
    }

    .opcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .courseBox{
        width: 90%;
        margin-right: 0px;
        margin-top: 35px; 
    }

    .contactoContainer .contacto{
        flex-direction: column;
        margin-top: 30px;
    }

    .contacto .botonContacto{
        margin-bottom: 15px;
    }

    .login{
        margin-right: 0px;
    }
}

@media (max-width: 350px){

    .principal h1{
        font-size: 1em;
        padding: 15px;
        margin-top: 30px;
    }
}